@import "tailwindcss";

:root {
  --background: oklch(0.90 0.003 91);
  --foreground: oklch(0.155 0.012 278);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nudica);
  --font-mono: var(--font-nudica);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.155 0.012 278);
    --foreground: oklch(0.90 0.003 91);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
